@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

/* Links */
a,
a:focus,
a:hover {
  color: $white;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $grey;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: $white;
  border: .05rem solid $white;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: $grey;
}
body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  color: $white;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  -ms-flex-pack: center;
  -webkit-box-pack: center;
}

.acme-container {
  max-width: 1500px;
  min-width: 1000px;
  width: 90%;
}

/*
 * Navigation
 */
nav.navbar-default .acme-site-search input[type='search'],
nav.navbar-default .acme-site-search button {
  border: 1px solid #777;
  font-size: 0.8em;
}
nav.navbar-default .acme-site-search input.form-control {
  border-style: solid none solid solid;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
nav.navbar-default .acme-site-search button {
  border-style: solid solid solid none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
nav.navbar-default ul.navbar-nav li a.nav-link {
  font-size: 12px;
  letter-spacing: 0.05em;
}
nav.navbar-default ul.navbar-nav wainclude {
  display: inherit;
}

/* Search Box */
div.header-search {
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  padding: 0;
}
div.header-search input {
  background: #f4f4f4;
  border: none;
  margin: 0;
}
div.header-search button {
  background: #ffc107;
  border: none;
  margin: 0;
  min-height: 26px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
